<a href="https://colab.research.google.com/github/fahmihilmi5/pythonInColab/blob/main/Data_Analyst_Start_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a new notebook to learn about being a Data Analyst.

This is the first step of re-learning python programming for Data Analysis purposes.

23/7/25

First Python Code

In [1]:
print("Hello, world!")

Hello, world!

Variables & Data Types

In [2]:
#Numbers

age = 25
price = 9.99

#Text (strings)

name = "Alice"

#Boolean (True/False)

is_student = True

print(name, "is", age, "years old")

Alice is 25 years old

Lists for storing multiple items

In [3]:
fruits = ["apple", "banana", "orange"]

print(fruits[0]) #first item. the count inside the array starts from the number 0.
print(len(fruits)) #length / how many items inside the array

apple
3

Conditions (if statements)

In [4]:
age = 20

if age >= 20:
      print("you're a fucking adult.")
else:
       print("bro you're a child.")

#function if & else tak boleh letak jarak kat depan. kena rapat kiri. kecuali kalau guna method.

you're a fucking adult.

Loops (repeat actions)

In [8]:
#print fruits

fruits = ["apple", "jackfruits" , "kiwi"]
for fruit in fruits:
  print(fruit)

apple
jackfruits
kiwi

Functions (reusable code blocks)

In [12]:
def greet(name):
    print("Hello", name)

greet("Alice")
greet("Bob")

Hello Alice
Hello Bob

Practice.
Create a list of your 3 favorite movies.

Write a function that adds 2 numbers.

Ask the user for their age and tell them how old they'll be in 5 years.

In [15]:
movies = ["Alice in the Borderlands" , "Suits" , "Rick and Morty"]

a = 1
b = 2

print(a+b)
print (movies)

3
['Alice in the Borderlands', 'Suits', 'Rick and Morty']

In [16]:
age = input("Enter your age: ")
age = int(age)
print("In 5 years you'll be", age + 5)

Enter your age: 25
In 5 years you'll be 30